{{ $project := .Site.GetPage (printf "/projects/%s" (.Get 0)) }}
{{ if $project }}
<div class="project-card featured">
  <div class="project-header">
    <h3><a href="{{ $project.Permalink }}">{{ $project.Title }}</a></h3>
    <div class="project-meta">
      <span class="status status-{{ $project.Params.status }}">{{ $project.Params.status }}</span>
      {{ if $project.Params.tech_stack }}
      <div class="tech-stack">
        {{ range $project.Params.tech_stack }}
        <span class="tech-tag">{{ . }}</span>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
  <p class="project-description">{{ $project.Description }}</p>
  <div class="project-links">
    <a href="{{ $project.Permalink }}" class="btn btn-primary">View Project</a>
    {{ if $project.Params.github_url }}
    <a href="{{ $project.Params.github_url }}" class="btn btn-secondary">GitHub</a>
    {{ end }}
    {{ if $project.Params.demo_url }}
    <a href="{{ $project.Params.demo_url }}" class="btn btn-secondary">Demo</a>
    {{ end }}
  </div>
</div>
{{ end }}
